.container {
    margin: 3rem 0;
}

/* Typography */
h1, h2, h3, p {
    font-family: 'Public Sans', sans-serif;
}

.date {
    font-weight: 500;
}

.title {
    margin-bottom: 2rem;
}

/* Cards */
.row.equal [class*=col] {
    display: flex;
}

.grid-card {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, .08);
    border-radius: 5px;
    background: white;
    margin-bottom: 25px;

    img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }
}

.card-text {
    padding: 30px;

    h3 {
        font-size: 1.4rem;
    }
    .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    a {
        text-decoration: none;
        color: #146ebd;
    }

    a:hover {
        text-decoration: underline;
    }

    a:after {
        content: " »";
    }
}